@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Masonry фикс */
.my-masonry-grid {
  display: flex;
  margin-left: -24px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 24px;
  background-clip: padding-box;
}