@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700;900&display=swap');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ng-btn {
    @apply bg-ng-yellow text-black px-6 py-3 rounded-none font-bold uppercase tracking-wider text-sm hover:bg-yellow-400 transition-all;
  }
  .ng-title {
    @apply text-5xl md:text-7xl font-bold leading-tight;
  }
  .ng-subtitle {
    @apply text-lg md:text-xl text-ng-gray font-light mt-4;
  }
}